<!DOCTYPE html>
<html lang="en">

<head>
  <title>Teacherest - Home Page</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/posted-resources.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- App JS -->
  <script src="/scripts/scripts.js"></script>
  <script type="text/javascript" src="/scripts/categories.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
  <script type="text/javascript" src="/scripts/newResource.js"></script>
  <script type="text/javascript" src="/scripts/my_resources.js"></script>
  <script type="text/javascript" src="/scripts/keyword.js"></script>
</head>

<body>
  <header>
    <nav class="navbar-expand-md">
      <div class="big_wrapper">
        <a href="#" class="nav">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </a>
      </div>
      <a class="navbar-brand" href="/">T e a c h e r e s t</a>
    </nav>
  </header>
  <aside id="nav-products" class="sidebar">
    <h4>Menu</h4>
    <nav>
      <ul>
        <li><a class="my_resources_button">My Resources</a>
        </li>
        <li><a class="nav-item nav-link" href="/profile">My Profile</a>
        </li>
        </li>
        
        <li class="login-container">
          <% if (user) { %>
            
            <aside class="login d-none">
              <form action="/login" type="POST" class="login-form">
                <div class="login-form">
                  <p>Login:</p>
                  <input type="text" placeholder="email" class="email-field">
                  <input type="text" placeholder="password" class="pw-field">
                  <button type="submit" class="login-button">Login</button>
                  <a class="nav-item nav-link" href="/register">register</a>
                </div>
              </form>
            </aside>
            <aside class="logout">
              <a class="nav-item nav-link" href="/logout">logout</a>
            </aside>
            
          <% } else { %>
            
            <aside class="login">
              <form action="/login" type="POST" class="login-form">
                <div class="login-form">
                  <p>Login:</p>
                  <input type="text" placeholder="email" class="email-field">
                  <input type="text" placeholder="password" class="pw-field">
                  <button type="submit" class="login-button">Login</button>
                  <a class="nav-item nav-link" href="/register">register</a>
                </div>
              </form>
            </aside>
            <aside class="logout d-none">
              <a class="nav-item nav-link" href="/logout">logout</a>
            </aside>
          <% } %>
        </li>
        <div class="search-container">
          <form action="/keyword" type="POST" class="search-form">
            <div class="title-container-keyword">Search a resource by keyword:</div>
            <div class="keyword-box">
              <input type="text" class="keyword-searchbar" placeholder="Your keyword here">
              <button type="submit" class="keyword-button">Search</button>
            </div>
          </form>
          <div class="title-container-category">Search by category:</div>
          <div class="search-box">
            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="4" checked> sports
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="1" checked> Science
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="2" checked> News
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="3" checked> Arts and Entertainment
              <span class="checkmark"></span>
            </label>
            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="8" checked> Nature
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="5" checked> Health
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="6" checked> Work
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="7" checked> Hobbies
              <span class="checkmark"></span>
            </label>
            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="9" checked> Music
              <span class="checkmark"></span>
            </label>
            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="10" checked> literature
              <span class="checkmark"></span>
            </label>

            <label class="container-checkmark">
              <input type="checkbox" name="categories" value="11" checked> Misc
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </ul>
    </nav>
  </aside>
  <div class="yolo">
  <div class="my_resource-title-container" style="display: none;">
    <div class="my_resource-title">Your personal favoured and created resources</div>
  </div>
</div>
<form action="/newResource" method="POST" class="new-resource" style="
  flex-wrap: wrap;">
  <h2 class="create_resource-title">Create your own resource</h2>
  <div class="content">
    <div class="title-URL-container">
      <div class="title-container">
        <label for="title" class="title-text">Title: </label>
        <input type="text" class="title-input">
      </div>
      <div class="URL-container">
        <label for="link" class="URL-text">URL: </label>
        <input type="text" class="link-input">
      </div>
    </div>
        <div class="screenshot-category-container">
          <div class="screenshot-container">
            <label for="screenshotUrl" class="screenshot-text">Screenshot URL: </label>
            <input type="text" class="screenshotUrl-input">
          </div>
          <div class="category-container">
            <label for="category">Category: </label>
            <select class="category-input">
              <option value="1">Science</option>
              <option value="2">News</option>
              <option value="3">Arts &amp; Entertainment</option>
              <option value="4">Sports</option>
              <option value="5">Health</option>
              <option value="6">Work</option>
              <option value="7">Hobbies</option>
              <option value="8">Nature</option>
              <option value="9">Music</option>
              <option value="10">Literature</option>
              <option value="11">Misc</option>
            </select>
          </div>
        </div>
        <div class="description-submit-container">
          <div class="description-container">
            <label for="description">Description: </label>
            <input type="text" class="description-input">
          </div>
        <div class="submit-container">
          <button type="submit" class="new_resource-button">Submit</button>
        </div>
      </div>
    </div>
  </form>
  <main>
    <div class="display">
    </div>
  </main>
</body>

</html>

<!--  <aside>
        <form action="/login" type="POST" class="login-form">
          <div>
            <input type="text" placeholder="email" class="email-field">
            <input type="text" placeholder="password" class="pw-field">
            <button type="submit" class="login-button">Login</button>
          </div>
        </form>
        <form class = "logout" action="/logout" type="POST"></form>
        <div>
          <button type="logout">Logout</button>
        </div>
      </aside>
    <main>
      <div class="display">
      </div>
    </main>
</body>

<main>
  <div class="display">
  </div>
</main>
</body>

</html>