<!DOCTYPE html>
<html lang="en">

<head>
  <title>Teacherest - Register Page</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/posted-resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/categories.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script src="/scripts/scripts.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
</head>

<body>
  <header>
    <nav class="navbar-navbar-expand-md-navbar-dark-bg-success">
      <a class="navbar-brand" href="/">T e a c h e r e s t</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      </div>
    </nav>
  </header>
  <main>
    <div class="column">
      <div class="row-1">
        <div class="register-form-container">

          <form action="/register" method="POST" class="register-form">
            <h1 class="register-title">Sign up!</h1>
            <h3 class="register-title">It takes only a second</h3>
            <label for="name-field">Name: </label>
            <input type="text" placeholder="Your name" name="name" class="input">
            <label for="email-field">Email: </label>
            <input type="email" placeholder="Your@email.com" id="email" name="email" class="input">
            <label for="pw-field">Password: </label>
            <input type="password" name="password" placeholder="password" class="input">
            <label for="bio-field">Bio: </label>
            <input type="text" placeholder="What are you about?" name="bio" class="input">
            <button type="submit" class="register-button">Register</button>
          </form>
        </div>
        <div class="carre">
          <div class="left-half-carre">
            <div id="cf" class="row-1-pictures">
              <img class="bottom" src="/img/frog.jpg" />
              <img class="top" src="/img/iceland.jpg" />
            </div>
            <div id="cf" class="row-1-pictures">
              <img id="cherry" class="bottom" src="/img/away.jpg" />
              <img id="astronomy" class="top" src="/img/scotland.jpg" />
            </div>
          </div>
          <div class="right-half-carre">
            <div id="cf" class="row-1-pictures">
              <img class="bottom" src="/img/books.jpg" />
              <img class="top" src="/img/anise.jpg" />
            </div>
            <div id="cf" class="row-1-pictures">
              <img id="cherry" class="bottom" src="/img/cherries.jpg" />
              <img id="astronomy"class="top" src="/img/astronomy.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class='image-container'>
        <div id="cf" class="row-1-pictures">
          <img id="sprin-bird" class="bottom" src="/img/spring-bird.jpg" />
          <img id="plumeria" class="top" src="/img/plumeria.jpg" />
        </div>
        <div id="cf" class="row-1-pictures">
          <img id="pug" class="bottom" src="/img/pug.jpg" />
          <img id="cat" class="top" src="/img/cat.jpg" />
        </div>
        <div id="cf" class="row-1-pictures">
          <img id="buddhism" class="bottom" src="/img/buddhism.jpg" />
          <img id="pencil" class="top" src="/img/pencil.jpg" />
        </div>
        <div id="cf" class="row-1-pictures">
          <img id="macarons" class="bottom" src="/img/macarons.jpg" />
          <img id="dandelion" class="top" src="/img/dandelion.jpg" />
        </div>
      </div>
    </div>
  </main>
</body>

</html>