<!DOCTYPE html>
<html lang="en">

<head>
  <title>Teacherest - Register Page</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/posted-resources.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/categories.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script src="/scripts/scripts.js"></script>
  <script type="text/javascript" src="/scripts/menu.js"></script>
</head>
<body>
  ERROR - You must be logged in to see this page
</body>
</html>