<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

</head>


<body>
  <%- include('partials/_header') %>
  <main>
    <h1>New Ressource</h1>
    <form class="new-form" action="/" method="POST">
      <label for="new-url">Enter Resource URL:</label>
      <input class="new-form" type="text" name="new-url" placeholder="http://www.newurl.com">
      <label for="new-title">Title:</label>
      <input class="new-form" type="text" name="new-title" placeholder="Title">
      <label for="new-url-description">Description:</label>
      <input class="new-form" type="textarea" name="new-url-description" placeholder="What is this resource about?">
      <label for="new-url-category">Category:</label>
      <select class="new-form" type="" name="new-url-category" id = "new-url-category" size="11">
        <option value="science">Science</option>
        <option value="news">News</option>
        <option value="arts">Arts & Entertainment</option>
        <option value="sport">Sport</option>
        <option value="health">Health</option>
        <option value="work">Work</option>
        <option value="hobbies">Hobbies</option>
        <option value="nature">Nature</option>
        <option value="music">Music</option>
        <option value="literature">Literature</option>
        <option value="misc">Misc</option>
      </select>
      <button type="submit" class="button-submit">Submit</button>

    </form>
  </main>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
