html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #FAEDCB;
}
ol, ul {
  list-style: none;
}
  /* = global
-------------------------------------------------------------- */
  #wrapper, #header, #page, #content, #sidebar, #footer {
      overflow: hidden;
  }
  #nav-products, #content {
      float: left;
      width: 180px;
  }
  #sidebar {
      float: right;
      position: relative;
      width: 265px;
  }
  /* = font
-------------------------------------------------------------- */
  html {
      font-size: 62.5%;
  }
  body {
      color: #404041;
      font: 1.2em Verdana, Geneva, sans-serif;
      padding-bottom: 50px;
      background-color: #FAEDCB;
  }

  
  a:hover, a:active {
      color: #FAEDCB;
  }

 
 nav {
   background-image: url('/img/books-1163695_1920.jpeg');
  background-position: 50%;
 }

 .menu-title-container {
   display: flex;
   justify-content: center;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
 }

 .navbar-brand {
   color: whitesmoke;
   font-family: 'Permanent Marker', cursive;
   font-size: 2.4em;
   display: flex;
   justify-content: center;
   margin: 1em;
   }

/*    .search-form {
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
    width: 75%;
    border-radius: 25px;
    background: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    height: 12.5em;
    position: fixed;
   } */
   

   .search-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   #nav {
    float: left;
    font-size: 1.25em;
    /* 15px / 12px */
    font-weight: bold;
}
#nav li {
    display: inline;
}
#nav ul a {
    color: #fff;
    display: block;
    float: left;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}
#nav .current_page_item a, #nav li a:hover, #nav li a:active {
    color: whitesmoke;
}
.sidebar h4, #nav-products nav a {
    background: #E29578;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: .83333333333333em 2.08333333333333em;
    text-transform: uppercase;
    border-right: 2px solid #E29578;
    
    border-bottom: 2px solid #E29578;
}
#nav-products nav li {
    position: relative;
    z-index: 2;
    background-color: #FAEDCB;
}

li.login-container {
  border-right: 2px solid #E29578;
  
  border-bottom: 2px solid #E29578;
}

#nav-products nav a {
    background-color: #FAEDCB;
    color: #E29578;
    text-decoration: none;
}
#nav-products nav li:hover > a, #nav-products nav a:active {
    background-color: #E29578;
    color: whitesmoke;
}

#nav-products .dropdown ul {
    display: none;
    position: absolute;
    left: 182px;
    top: 0;
    width: 180px;
    z-index: 1;
    margin-right: 2em;
}

aside#nav-products.sidebar {
  background-color: #E29578;
  display: none;
}

nav.navbar-expand-md {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.menu {
  margin: 1em;
  font-family: 'Permanent Marker', cursive;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
}

div.menu:hover {
  color: rgb(172, 172, 235)
}

  .big_wrapper {
    height: 100%;
    top: 50%;
    left: 50%;
    margin-top: 20px;
  }

  .nav div{
    display: flex;
    height: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 25px;
    transition: 0.8s;
  }

  .one{
    width: 40px;
  }

  .two{
    width: 20px;
  }

  .three{
    width: 30px;
  }

  .nav:hover div {
    width: 40px;
  }

  .search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    color: #E29578;
    background-color: #FAEDCB;
  }

  .title-container-category {
    display: flex;
    flex-direction: column;
    background-color: #FAEDCB;
    color: #E29578;
    border-bottom: 1px solid #E29578;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    background-color: #FAEDCB;
    border-right: 2px solid #E29578;
    
    border-bottom: 2px solid #E29578;
  }

  .login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    color: #E29578;
    background-color: #FAEDCB;
    margin-bottom: 1px;
  }

  .login {
    margin: 1em;
  }

  label.container-checkmark {
    margin-bottom: 5px;
    margin-left: 5px;
  }

  form.new-resource {
    display: flex;
    background-color: #FAEDCB;
    border: 4px solid #E29578;
    margin: 3em;
    border-radius: 35%;
    color: #E29578;
    font-family: 'Mulish', sans-serif;
    font-size: small;
  }

  h2.create_resource-title {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #E29578;
    border-radius: 35%;
  }


  .text-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .create_resource-title {
    color: #E29578;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-top: 0.5em;
    font-size: 2em;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:2em;
    padding-right:2em;
    width: 100%;
  }
  .content > div {
    flex: 0 50%;
  }
  div > input {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    div > input {
      width: 13rem;
    }
    .create_resource-title {
      color: #960200;
      font-family: 'Permanent Marker', cursive;
      text-align: center;
      margin-top: 0.5em;
      font-size: 0.8em;
    }

  }

  .screenshot-container {
    margin: 2em;
  }
  
  .title-container {
    margin: 2em;
    border: none;
    background-color: #CAF0F8;
  }
  
  .URL-container {
    margin: 2em;
  }
  
  .category-container {
    margin: 2em;
  }
  
  .description-container {
    margin-bottom: 2em;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .category-input {
    width: 50%;
    background-color: #F1FAEE;
    border: 2px solid #E29578;
  }

  .description-input {
    height: 5em;
    background-color: #F1FAEE;
    border: 2px solid #E29578;
  }

  .link-input {
    background-color: #F1FAEE;
    border: 2px solid #E29578;
  }

  .title-input {
    background-color: #F1FAEE;
    border: 2px solid #E29578;
  }

  .screenshotUrl-input {
    background-color: #F1FAEE;
    border: 2px solid #E29578;
  }

 .d-none {
    display: none;
  } 
