.display{
  display: flex;
  flex-flow: wrap;
  padding-top: 3em;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #EADAA2;
}

.resource-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  transition: transform .2s;
}

.resource-box:hover {
  transform: scale(1.1);
}

.container {
  position: relative;
  max-width: 23em;
  max-height: auto;
}

.container img{
  border-radius: 35%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: #960200;
  font-size: medium;
  font-weight: 600;
  padding: 0.4em 0.4em;
}

.description {
  color: #000000;
  font-size: small;
  padding: 0.4em 0.4em;
}

.time {
  color: #000000;
  font-size: xx-small;
  padding: 0.4em 0.4em 1em;
}

.favourite-button {
  display: flex;
  justify-content: center;
  background-color: #CE6C47;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

