.display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-tweet {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  font-size: medium;
  padding: 1em;
}

/* adds drop-shadow when hovering on posted tweets */

.article-tweet:hover {
  box-shadow: 10px 10px #BBC5F2;
}

/* container for profile pic, name and @handle */

.article-tweet-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

/* containers for profile pic and name */

.tweet-profile {
  display: flex;
  align-items: center;
}

.tweet-profile-name {
  padding-left: 0.75em;
}

/* bolds @handle on hover */

.article-tweet:hover .tweet-handle {
  color: #BBC5F2;
  font-weight: 700;
  visibility: visible;
}

/* text area of posted tweet */

.tweet-content {
  display: flex;
  width: 100%;
  height: 5em;
  border-bottom: solid;
  font-weight: 300;
}

/* slightly indented placement of text within tweet-content */

.tweet-content p {
  display: flex;
  align-items: center;
  margin: 15px 0px 0px 10px;
}

/* containers for date posted and icons*/

.article-tweet-footer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.4em;
}

.tweet-date {
  font-size: x-small;
}

.tweet-icons {
  display: flex;
  justify-content: space-around;
  padding-left: 0.1em;
}

/* spacing of icons */

.tweet-icons img {
  margin: 0 7px 0 0;
}