/* main container */
.resource-box{
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15%;
  padding: 5em;
}

.resource-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.resource-content-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 3em;
}

.favourite-button {
  background-color: #CE6C47;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: medium;
  font-weight: 600;
  width: 3em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-left: 1em;
  outline: none;
}

.favourite-button-liked {
  background-color: #FFD046;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: medium;
  font-weight: 600;
  width: 3em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  box-shadow: 0 5px 10px #EADAA2;
  outline: none;
}

.resource-content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1em;
}

.resource-content-main-title {
  display: flex;
  font-weight: 600;
  font-size: xx-large;
  color: #960200;
  padding-bottom: 0.2em;
}

.website-button {
  background-color: whitesmoke;
  border: 1px #960200;
  color: #960200;
  font-size: x-small;
  width: 6.6em;
}

.resource-content-main-description {
  font-size: medium;
  padding-top: 1em;
  padding-bottom: 1em;
}

.resource-content-buttons {
  display: flex;
  justify-content: flex-end;
}

.resource-content-buttons img {
  margin: 0 7px 0 0;
}

.spacer {
  width: 10%;
}

.resource-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.resource-image-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 3em;
}

.resource-image-main {
  margin-bottom: 1em;
}

.resource-image-main img{
  border-radius: 35%;
  max-width: 30em;
}

.back-button {
  background-color: #CE6C47;
  border: none;
  border-radius: 20%;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  outline: none;
}

.error-1 {
  padding: 0.5em;
  background-color: #f44336;
  color: white;
  margin-bottom: 0.5em;
}

.success {
  padding: 0.5em;
  background-color: #00cc00;
  color: white;
  margin-bottom: 0.5em;
}

.comments {

}

/* media query specs for responsive design  */

@media only screen and (max-width: 550px) {
  .resource-box{
    flex-direction: column;
  }
  .resource-image-main img{
    max-width: 15em;
  }
}

@media only screen and (max-width: 768px) {
  .resource-box{
    flex-direction: column;
  }
  .resource-image-main img{
    max-width: 25em;
  }
}

@media only screen and (max-width: 1024px) {
  .resource-box{
    flex-direction: column;
  }

}

