/* main container */
.resource-box{
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15%;
  padding: 5em;
}

.resource-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.resource-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
}

.save-button {
  background-color: #CE6C47;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 3.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.website-button {
  background-color: #CE6C47;
  border: none;
  border-radius: 25%;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
}



.resource-content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resource-content-main-title {
  display: flex;
  font-weight: 600;
  font-size: xx-large;
  color: #960200;
  padding-top: 1em;
  padding-bottom: 1em;
}

.resource-content-main-description {
  font-size: medium;
  padding-bottom: 1em;
}

.resource-content-buttons {
  display: flex;
  justify-content: flex-end;
}

.resource-content-buttons img {
  margin: 0 7px 0 0;
}

.resource-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 3em;
}

.resource-image-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
}

.resource-image-main img{
  border-radius: 35%;
  max-width: 30em;
}

.back-button {
  background-color: #CE6C47;
  border: none;
  border-radius: 25%;
  color: white;
  font-size: small;
  font-weight: 600;
  width: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.resource-content-footer {

}